# contains secrets
qualtrics.yml

# reproducible
data-raw/*.rds

# data
*.sqlite
data-raw/stack-overflow*

# knitr files
*.html
*_cache/
*_files/

# github publishing
!*_files/figure-gfm/

# r+rstudio
.Rproj.user
.Rhistory
.RData
.Ruserdata
