# contains secrets
.environment
qualtrics.yml

# data
data-raw/*.rds
data-raw/*.csv
data-raw/stack-overflow-developer-survey-2017*
*.sqlite

# knitr files
*.html
*_cache/
*_files/

# github publishing
!*_files/figure-gfm/

# r+rstudio
.Rproj.user
.Rhistory
.RData
.Ruserdata
